[submodule "applications/Camera Calibration/Sky-dataset"]
	path = applications/Camera Calibration/Sky-dataset
	url = https://github.com/thienannguyen-cv/Sky-dataset.git
[submodule "applications/Depth Estimation/Lamp-dataset"]
	path = applications/Depth Estimation/Lamp-dataset
	url = https://github.com/thienannguyen-cv/Lamp-dataset.git
[submodule "tools/testing/vtest/vnittest"]
	path = tools/testing/vtest/vnittest
	url = https://github.com/thienannguyen-cv/vnittest
